In [1]:
import pandas as pd

In [2]:
#read in data
df_census = pd.read_csv('acs2017_census_tract_data.csv')

In [3]:
#filter for only data from NYC
df_census = df_census[df_census['State'] == 'New York']
df_census = df_census[df_census['County'].isin(['New York County', 'Kings County', 'Bronx County', 'Richmond County', 'Queens County'])]

In [4]:
#import and combine all turnstile files
import glob
import pandas as pd
extension = 'txt'
all_filenames = [i for i in glob.glob('turnstile*.{}'.format(extension))]
print(all_filenames)


#combine all files in the list
combined_turnstile_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

['turnstile_180407.txt', 'turnstile_180414.txt', 'turnstile_180421.txt', 'turnstile_180428.txt', 'turnstile_180505.txt', 'turnstile_180512.txt', 'turnstile_180519.txt', 'turnstile_180526.txt', 'turnstile_180602.txt', 'turnstile_180609.txt', 'turnstile_180616.txt', 'turnstile_180623.txt', 'turnstile_180630.txt', 'turnstile_190406.txt', 'turnstile_190413.txt', 'turnstile_190420.txt', 'turnstile_190427.txt', 'turnstile_190504.txt', 'turnstile_190511.txt', 'turnstile_190518.txt', 'turnstile_190525.txt', 'turnstile_190601.txt', 'turnstile_190608.txt', 'turnstile_190615.txt', 'turnstile_190622.txt', 'turnstile_190629.txt', 'turnstile_200418.txt', 'turnstile_200425.txt', 'turnstile_200502.txt', 'turnstile_200509.txt', 'turnstile_200516.txt', 'turnstile_200523.txt', 'turnstile_200530.txt', 'turnstile_200606.txt', 'turnstile_200613.txt', 'turnstile_200620.txt', 'turnstile_200627.txt', 'turnstile_april11th2020.txt', 'turnstile_april4th2020.txt']

In [5]:
combined_turnstile_csv

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463,2224050
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470,2224053
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470,2224053
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470,2224055
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470,2224055
...,...,...,...,...,...,...,...,...,...,...,...
205661,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/03/2020,05:00:00,REGULAR,5554,514
205662,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/03/2020,09:00:00,REGULAR,5554,514
205663,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/03/2020,13:00:00,REGULAR,5554,514
205664,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/03/2020,17:00:00,REGULAR,5554,514
205665,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,04/03/2020,21:00:00,REGULAR,5554,514

In [6]:
#Get subway tract IDs and merge them with overall csv
subway_tracts = pd.read_csv('nyc_subway_final.csv')
subway_tracts['Station Name'] = subway_tracts['Station Name'].str.lower()
subway_tracts.set_index('Station Name', inplace = True)

combined_turnstile_csv['STATION'] = combined_turnstile_csv['STATION'].str.lower()
combined_turnstile_csv.rename(columns = {'STATION': 'Station Name'}, inplace = True)

In [21]:
combined_turnstile_csv = pd.merge(combined_turnstile_csv,subway_tracts, on = 'Station Name', how = 'outer')

combined_turnstile_csv

,C/A,UNIT,SCP,Station Name,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,Station Longitude_y,census_tract_id_y,TractId_y,HHIncomePct_score_y,Unnamed: 0,Station Latitude,Station Longitude,census_tract_id,TractId,HHIncomePct_score
0,A041,R086,00-00-00,prince st,NRW,BMT,03/31/2018,00:00:00,REGULAR,11150731.0,...,-73.997702,36061004300,36061004300,7.0,313,40.724329,-73.997702,36061004300,36061004300,7.0
1,A041,R086,00-00-00,prince st,NRW,BMT,03/31/2018,04:00:00,REGULAR,11150765.0,...,-73.997702,36061004300,36061004300,7.0,313,40.724329,-73.997702,36061004300,36061004300,7.0
2,A041,R086,00-00-00,prince st,NRW,BMT,03/31/2018,08:00:00,REGULAR,11150774.0,...,-73.997702,36061004300,36061004300,7.0,313,40.724329,-73.997702,36061004300,36061004300,7.0
3,A041,R086,00-00-00,prince st,NRW,BMT,03/31/2018,12:00:00,REGULAR,11150886.0,...,-73.997702,36061004300,36061004300,7.0,313,40.724329,-73.997702,36061004300,36061004300,7.0
4,A041,R086,00-00-00,prince st,NRW,BMT,03/31/2018,16:00:00,REGULAR,11151556.0,...,-73.997702,36061004300,36061004300,7.0,313,40.724329,-73.997702,36061004300,36061004300,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275570,NaN,NaN,NaN,wakefield-241st st,NaN,NaN,NaN,NaN,NaN,NaN,...,-73.850620,36005043400,36005043400,3.0,345,40.903125,-73.850620,36005043400,36005043400,3.0
2275571,NaN,NaN,NaN,west 4th st,NaN,NaN,NaN,NaN,NaN,NaN,...,-74.000495,36061007100,36061007100,10.0,346,40.732338,-74.000495,36061007100,36061007100,10.0
2275572,NaN,NaN,NaN,westchester square-east tremont av,NaN,NaN,NaN,NaN,NaN,NaN,...,-73.842952,36005020000,36005020000,3.0,347,40.839892,-73.842952,36005020000,36005020000,3.0
2275573,NaN,NaN,NaN,woodside av-61st st,NaN,NaN,NaN,NaN,NaN,NaN,...,-73.902984,36081026100,36081026100,3.0,353,40.745630,-73.902984,36081026100,36081026100,3.0
2275574,NaN,NaN,NaN,yankee stadium-161st st,NaN,NaN,NaN,NaN,NaN,NaN,...,-73.925741,36005019500,36005019500,1.0,354,40.827950,-73.925741,36005019500,36005019500,1.0

In [17]:
#check to see how many null values we have for tract ID

combined_turnstile_csv.TractId.isnull().sum()

#from the initial combine, we are still missing tract IDs from 5.6 Mill / ~7.8Mill values. 
#There might be a mismatch between station names in the subway file vs the turnstile file

5638875